[package]
name = "chimitheque_utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dyn-error = "0.2.2"
env_logger = "0.10.0"
log = "0.4.20"
regex = "1.10.2"

[profile.release]
debug = true
